/* .hero-area {
    background: #F7FFF6;
    margin-top: 100px;
}

.hero-area-2 {
    background-color: #F7FFF6;
}

footer {
    background: #000033F2;
    height: 350px;
}

.footer-area li {
    list-style: none;
}

.footer-area li a {
    text-decoration: none;
} */